---
version: 2

build_jobs: &build_jobs
  jobs:
    - build-amd64
    - build-arm64
    - build-armhf
    - push-manifest:
        requires:
          - build-amd64
          - build-arm64
          - build-armhf

# ====================
# WORKFLOW DECLARATION
# ====================
workflows:
  version: 2
  commit:
    <<: *build_jobs
  nightly:
    <<: *build_jobs
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master

shared: &shared
  name: Build and push Docker image.
  docker:
    - image: docker:18-git
  steps:
    - checkout
    - setup_remote_docker:
        docker_layer_caching: true
    - run: apk add --no-cache curl jq
    - run:
        command: |-
          echo 'export IMAGE_ID="jessestuart/caddy"' >> $BASH_ENV
          echo 'export GITHUB_REPO="mholt/caddy"' >> $BASH_ENV
          echo 'export VERSION=$(curl -s 'https://api.github.com/repos/mholt/caddy/releases/latest" | jq -r '.tag_name' | tr -d 'v')" >> $BASH_ENV
          echo 'export PATH="$GOPATH/bin:$PATH"' >> $BASH_ENV
          echo 'export QEMU_VERSION="v3.1.0-2"' >> $BASH_ENV
          source $BASH_ENV
          echo $VERSION
    - run:
        name: Build Docker image.
        command: |-
          source $BASH_ENV
          if [ $GOARCH == 'amd64' ]; then
            touch qemu-amd64-static
          else
            curl -sL "https://github.com/multiarch/qemu-user-static/releases/download/${QEMU_VERSION}/qemu-${QEMU_ARCH}-static.tar.gz" | tar xz
            docker run --rm --privileged multiarch/qemu-user-static:register
          fi

          docker build \
            -t "${IMAGE_ID}:${VERSION}-${GOARCH}" \
            --build-arg version=$VERSION \
            --build-arg target=$TARGET \
            --build-arg arch=$QEMU_ARCH \
            --build-arg goarch=$GOARCH .

    - run:
        name: Push image to Docker Hub.
        command: |
          source $BASH_ENV
          echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin
          docker push "${IMAGE_ID}:${VERSION}-${GOARCH}"

# ================
# JOB DECLARATIONS
# ================
jobs:
  build-amd64:
    <<: *shared
    environment:
      GOARCH: amd64
      QEMU_ARCH: amd64
      TAG: amd64
      TARGET: amd64
  build-arm64:
    <<: *shared
    environment:
      GOARCH: arm64
      QEMU_ARCH: aarch64
      TAG: arm64
      TARGET: arm64v8
  build-armhf:
    <<: *shared
    environment:
      GOARCH: arm
      QEMU_ARCH: arm
      TAG: arm
      TARGET: arm32v6

  # ===================================
  # ===================================
  # ===================================

  push-manifest:
    docker:
      - image: docker:18-git
    environment:
      GITHUB_REPO: mholt/caddy
      IMAGE: jessestuart/caddy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Determine repo version.
          command: |
            apk update && apk add curl jq
            echo 'export GITHUB_REPO="mholt/caddy"' >> $BASH_ENV'
            echo 'export VERSION=$(curl -s "https://api.github.com/repos/${GITHUB_REPO}/releases/latest" | jq -r ".tag_name" | tr -d "v")' >> $BASH_ENV'

      - run:
          name: Install manifest-tool.
          command: |
            echo "Installing manifest-tool."
            wget https://github.com/estesp/manifest-tool/releases/download/v0.9.0/manifest-tool-linux-amd64
            manifest-tool --version

      - run:
          name: Push Docker manifest.
          command: |
            echo "Authenticating with Docker hub."
            echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin

            echo "Pushing manifest for: $IMAGE:$VERSION"

            manifest-tool push from-args \
              --platforms linux/arm,linux/arm64,linux/amd64 \
              --template "$IMAGE:$VERSION-ARCH" \
              --target "$IMAGE:$VERSION"

            if [ "${CIRCLE_BRANCH}" == 'master' ]; then
              manifest-tool push from-args \
                --platforms linux/arm,linux/arm64,linux/amd64 \
                --template "$IMAGE:$VERSION-ARCH" \
                --target "$IMAGE:latest"
            fi

      - run:
          name: Verify manifest was persisted remotely.
          command: |
            export VERSION=$(cat ~/VERSION)
            manifest-tool inspect "$IMAGE:$VERSION"
