version: 2

build_jobs: &build_jobs
  jobs:
    - build-amd64
    - build-arm64
    - build-armhf
    - push-manifest:
        requires:
          - build-amd64
          - build-arm64
          - build-armhf

# ====================
# WORKFLOW DECLARATION
# ====================
workflows:
  version: 2
  commit:
    <<: *build_jobs
  nightly:
    <<: *build_jobs
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master

shared: &shared
  working_directory: /root/caddy
  docker:
    - image: docker:stable-git
  steps:
    - checkout
    - setup_remote_docker
    - run: apk add --no-cache curl jq bash make

    - run:
        name: Set up shared environment vars.
        command: .circleci/load_env.sh

    - run:
        name: Build Docker image.
        command: source $BASH_ENV && .circleci/build_image.sh

# ================
# JOB DECLARATIONS
# ================
jobs:
  build-amd64:
    <<: *shared
    environment:
      GOARCH: amd64
      QEMU_ARCH: amd64
      QEMU_VERSION: v4.0.0
      TAG: amd64
      TARGET: amd64
  build-arm64:
    <<: *shared
    environment:
      GOARCH: arm64
      QEMU_ARCH: aarch64
      QEMU_VERSION: v4.0.0
      TAG: arm64
      TARGET: arm64v8
  build-armhf:
    <<: *shared
    environment:
      GOARCH: arm
      QEMU_ARCH: arm
      QEMU_VERSION: v4.0.0
      TAG: arm
      TARGET: arm32v6

  # ===================================
  # ===================================
  # ===================================

  push-manifest:
    docker:
      - image: docker:18-git
    environment:
      GITHUB_REPO: caddyserver/caddy
      IMAGE: jessestuart/caddy
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Determine repo version.
          command: |
            apk update && apk add curl jq
            curl -s https://api.github.com/repos/${GITHUB_REPO}/releases/latest | jq -r ".tag_name" > ~/VERSION

      - run:
          name: Install manifest-tool.
          command: |
            export VERSION=$(cat ~/VERSION)

            echo "Installing manifest-tool."
            curl -sLO https://github.com/estesp/manifest-tool/releases/download/v1.0.0-rc3/manifest-tool-linux-amd64 > /usr/bin/manifest-tool
            chmod +x /usr/bin/manifest-tool
            manifest-tool --version

      - run:
          name: Push Docker manifest.
          command: |
            export VERSION=$(cat ~/VERSION)

            echo "Authenticating with Docker hub."
            echo $DOCKERHUB_PASS | docker login -u $DOCKERHUB_USER --password-stdin

            echo "Pushing manifest for: $IMAGE"
            if [ "${CIRCLE_BRANCH}" == 'master' ]; then
              manifest-tool push from-args \
                --platforms linux/amd64 \
                --template "$IMAGE:$VERSION-ARCH" \
                --target "$IMAGE:latest"
            fi

            manifest-tool push from-args \
              --platforms linux/amd64 \
              --template "$IMAGE:$VERSION-ARCH" \
              --target "$IMAGE:$VERSION"

      - run:
          name: Verify manifest was persisted remotely.
          command: |
            export VERSION=$(cat ~/VERSION)
            manifest-tool inspect "$IMAGE:$VERSION"
